.new-post {
    padding: 16px 0;
    border-bottom: 1px solid #ccc;
}

.new-post header,
.posts header {
    margin-bottom: 20px;
}

.posts .post {
    padding-left: 10px;
    border-left: 3px solid #a21b24;
    margin-bottom: 30px;
}

.posts .post .info {
    color: #aaa;
    font-style: italic;
}
/* width */
::-webkit-scrollbar {
    width: 5px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

.div-body{
    width: 300px;
    height: 60px;
    overflow-x: hidden;
    overflow-y: auto;
    text-align:justify;
    word-wrap: break-word;
}

.error{
    color: red;
}
.error::before{
    content: '*';
}
